.bottomstyle
{
    overflow: hidden;
 background-image: linear-gradient(to right, rgb(255, 136, 0),white,green);   
    bottom: 0;
    width: 100%;
    height:50px;
}

.bottomstyle p{
    color:black;
    font-size: 20px;
    padding:0;
    align: center;
    font-family: High Tower Text;
}
