
.sid
{
    padding:0px 100px 100px 100px;
    font-family: britannic;
    color:green;
}
img {
    border-radius: 50%;
  }
  .nishit
  {
      background-color:rgba(167, 153, 153, 0.589)
  }
  .sanchit
  {
      color:black;
  }
   #custom td:hover {background-color: greenyellow;}